.movie-details {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

#details-cover {
  width: 100%;
  height: 100vh;
  border-left: 0.1px solid rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0vh 3vw 0vw 0vw;
  margin-left: 3vw;
}

#details-coverPic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  // filter: blur(2px);
  top: 0;
}

#details-opacity-cover {
  // background: beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  box-shadow: 1vw 1vw 40vh 1vw rgb(0, 0, 0) inset;
}

#details-section {
  //   border-left: 0.1px solid rgb(128, 128, 128);
  z-index: 10;
  transition: 0.5s;
  padding: 20vh 5vw 1vw 5vw;

  h1 {
    font-size: 4vw;
    margin-bottom: 2vh;
    color: white;
  }
  #p-overview {
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    width: 60%;
    overflow-y: scroll;
    height: 30vh;
    word-spacing: 0.2vw;
    line-height: 1.8vw;
    font-weight: 500;
    padding-right: 1vw;
    // background: black;
    &::-webkit-scrollbar {
      width: 0.1rem;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.356);
    }
  }
}

.sec {
  // border-left: 0.1px solid rgb(128, 128, 128);

  // margin: 10vh 1vw 0vw 0vw;
  padding: 20vh 1vw 0 2vw;
  z-index: 10;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.308);
}

#sec-group {
  margin-bottom: 7vh;
  // border: 1px solid red;
  position: relative;

  h3 {
    color: rgb(184, 184, 184);
    font-size: 1.7vw;
    text-transform: capitalize;
    margin-bottom: 2vh;
    letter-spacing: 1px;
    // &::after {
    //   content: "|";
    //   margin-left: 0.3vw;
    // }
    // &::before {
    //   content: "|";
    //   margin-right: 0.3vw;
    // }
    span {
      color: rgb(224, 224, 224);
    }
  }
  p {
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
  }
  img {
    position: relative;
    bottom: -0.35vh;
    width: 1.2vw;
    margin-right: 0.5vw;
  }
}

#info {
  //   border: 1px solid red;
  height: 100vh;
  //   margin-bottom: 80vh;
}
.other-movie-details {
  position: absolute;
  //   border: 1px solid red;
  bottom: 2vh;
  margin-left: 2.8vw;
  z-index: 11;
  cursor: pointer;
}

.shine-sec {
  h4 {
    text-shadow: 2px 2px 1rem rgb(255, 255, 255);
  }
  #dot {
    background: rgb(255, 255, 255);
  } // background: red;
}

#other {
  display: flex;
  align-items: center;
  width: 72vw;
  height: 5vh;
  // border: 1px solid red;
  h4 {
    color: rgb(231, 231, 231);
    font-size: 1vw;
    // font-weight: 400;
    transition: 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  &:hover {
    h4 {
      color: white;
      text-shadow: 1px 1px 1rem white;
    }
  }
}
#dot {
  width: 0.5vw;
  height: 0.5vw;
  background: rgb(136, 136, 136);
  border-radius: 4rem;
  margin-right: 5vw;
}

.genre-flex {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  #aP {
    border: 1px solid white;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0 1vw 1vw 0;
    border-radius: 0.2rem;
    transition: 0.5s;
    &:hover {
      color: rgb(192, 207, 255);
      border: 1px solid rgb(192, 207, 255);
      background: rgb(0, 0, 0);
      // color: black;
    }
  }
}

// #genre-box {
//   // display: flex;
//   #aP {
//     // padding: 0.2vh 0 0.2vh 0;

//   }
// }

.trailer {
  position: absolute;
  top: 0;
  width: 50vw;
  border: 1px solid red;
}
