.similar-movies {
  //   border: 1px solid red;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#similar-movie-cover {
  img {
    width: 12vw;
    margin-right: 1vw;
    border-radius: 0.4rem;
  }
  a {
    color: white;
  }
  p {
    width: 90%;
    font-size: 1.2vw;
    margin-top: 1vh;
  }
  transition: 0.5s;
  &:hover {
    transform: translateY(2vh);
    p {
      color: rgb(255, 255, 255);
    }
  }
}
