.topRated {
  position: relative;
  background: black;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.rated-slides {
  position: relative;
  //   border: 1px solid red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow: hidden;
}

#rated-slide {
  position: relative;
  min-width: 80vw;
  height: 100vh;
  //   border: 1px solid green;
  //   margin: 0 1vw 0 1vw;
  border-radius: 0.5rem;
  transition: 0.5s;
  //   overflow: hidden;
  //   transform: translateX(105%);
  h2 {
    position: absolute;
    color: rgb(228, 253, 220);
    width: 100%;
    top: 80%;
    transform: translateY(-50%);
    // bottom: 5vh;
    // left: 5vw;
    font-size: 4vw;
    letter-spacing: 2px;
    text-align: center;
  }
}

#rated-slide-pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

%same {
  position: absolute;
  width: 9.5vw;
  height: 100vh;
  //   border: 1px solid blue;
  cursor: pointer;
  background: black;
  opacity: 0.6;
  top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 5vw;
    opacity: 0.4;
  }
}

#go-left {
  @extend %same;
  img {
    transform: rotate(90deg);
  }
}

#go-right {
  @extend %same;
  right: 0;
  img {
    transform: rotate(-90deg);
  }
}

.rated-covers {
  //   border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10vh 3vw 2vh 3vw;
  // width: 80vw;
  left: 50%;
  transform: translate(-50%);
  grid-gap: 1vw;
}

#rated-cover-pic {
  position: relative;
  margin-bottom: 0.5vh;
  background: rgb(9, 14, 32);
  overflow: hidden;
  border-radius: 0 0 0.5rem 0.5rem;

  img {
    width: 100%;
    // border-radius: 0.5rem;
    transition: 0.5s;
    &:hover {
      transform: translateY(-1vh);
      // opacity: 0.6;
    }
  }
  p {
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    color: rgb(233, 233, 233);
    background: rgba(0, 0, 0, 0.603);
    font-weight: bold;
    font-size: 1.4vw;
    opacity: 0;
    transition: 0.5s;
    // border: 1px solid rgb(180, 255, 148);
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    img {
      width: 2vw;
      margin-right: 0.5vw;
    }
  }
  h3 {
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    // border: 1px solid red;
    padding: 1vh 1vw 0.5vh 1vw;
    text-transform: capitalize;
    transition: 0.5s;
  }
  h4 {
    font-size: 1vw;
    color: rgb(255, 255, 255);
    padding: 0.5vh 1vw 1vh 1vw;
  }
  &:hover {
    p {
      opacity: 1;
    }
  }
}
